<div class="fileViewer">
  <pdf-viewer
    class="pdf-viewer"
    [ngClass]="{ displayUnderlyingText: displayUnderlyingText }"
    [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false"
    [render-text-mode]="2"
    [external-link-target]="'blank'"
    [show-all]="false"
    [show-borders]="true"
    (page-rendered)="pageRendered($event)"
  ></pdf-viewer>
  <button (click)="checkSpans()">Check Spans</button>
  <button (click)="toggleUnderlyingText()">Show underlying text</button>
</div>
