.pdf-viewer {
  width: 100%;
  height: 100%;
}
.fileViewer {
  width: 100%;
  height: 80vh;
}

.highlighted-text {
  background-color: yellow;
}

::ng-deep .displayUnderlyingText {
  .canvasWrapper {
    display: none !important;
  }
  .textLayer {
    opacity: 1 !important;
    span {
      color: black !important;
    }
  }
}
